.unitDetailCard {
  width: 500px;
  max-width: 500px;
  background-color: white;
  margin-top: 50px;
}
.unitDetailPageViewRoot {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding-top: 64px;
}
