.itemsContainerClass {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.paperClass {
  background-color: white;
  border: 1px solid #e3e5e7;
  box-shadow: 0 0 0 1px #3f3f440d;
  border-radius: 4px;
}

.flexCenterClass {
  display: flex;
  justify-content: center;
  align-items: center;
}
